@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --color0: #e7edfa; 
  --color1: #041234; 
  --color2: #183a90; 
  --color3: #8a9ed7; 
  --color4: rgba(4, 18, 52, 0.8); 
  --color5: #b1bfe3; 

  --gradient1: linear-gradient(90deg, rgba(123,131,149,1) 0%, rgba(181,188,201,1) 20%, rgba(231,237,250,1) 40%, rgba(231,237,250,1) 50%, rgba(231,237,250,1) 60%, rgba(181,188,201,1) 80%, rgba(123,131,149,1) 100%);
  
  --gradient3: linear-gradient(90deg, rgba(4,18,52,1) 0%, rgba(104,126,177,1) 10%, rgba(148,166,207,1) 15%, rgba(255,255,255,1) 50%, rgba(148,166,207,1) 85%, rgba(104,126,177,1) 90%, rgba(4,18,52,1) 100%);
}

/* LAYOUT ########################################################### */

body {
  background: url(./images/portfolio1.png) no-repeat center center fixed;
  width: 100%;
  height: auto;
}

.navbar {
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 2;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

a, a:visited {
  color: var(--color1);
}

.navbar a:hover, .contact a:hover {
  color: var(--color2);
  transform: scale(1.1);
}

.titleColor {
  background: var(--gradient3);
  color: var(--color1);
  text-align: center;
}

/* HOME ############################################################# */
/* PRESENTATION ----------------------------------------- */

.presentation {
  color: var(--color0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 30px 80px 30px;
  gap: 15px;
}

.presentation img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 30px 0 30px 0;
  border: 2px solid var(--color0);
}

/* SOME PROJECTS ---------------------------------------- */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.someProjectsContainer {
  background-color: var(--color4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
}

.someProject {
  width: 210px;
  height: 240px;
  background: var(--gradient1);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.someProject img {
  margin-top: 5px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid var();
}

.someProject a {
  display: flex;
  justify-content: center;
  font-size: 17px;
}

.projectName {
  padding-top: 7px;
  text-align: center;
}

.someProject a:hover {
  color: var(--color2);
  transform: scale(1.02);
}

/* SKILLS ----------------------------------------------- */

.skillsContainer {
  background-color: var(--color4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 120px 50px;
}

.skill {
  width: 110px;
  height: 120px;
  padding: 10px;
  background: var(--gradient1);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 70px 40px;
  justify-items: center;
  align-items: center;
}

.skill img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 5px;
}

.skill p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color1);
  margin-top: 5px;
}

/* CONTACT ########################################################## */

.contact {
  background-color: var(--color4);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.contact div {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.contact a {
  font-size: 18px;
  color: var(--color0);
}

.contact a:hover {
  color: var(--color3);
}

.contact svg {
  filter: invert(90%) sepia(13%) saturate(213%) hue-rotate(188deg) brightness(102%) contrast(96%);
  width: 60px;
  height: auto;
}

/* SCROLLBAR ######################################################## */

::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background-color: var(--color2);
	border-radius: 5px;
	border: 6px solid transparent;
	background-clip: content-box;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
background-color: var(--color3);
border-radius: 120px;
border: 8px solid transparent;
background-clip: content-box;
border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
background-color: var(--color0);
}

::-webkit-scrollbar-corner {
background: rgba(0,0,0,0);
}

/* ROADMAP ########################################################## */

.roadmap {
  padding-top: 70px;
  color: var(--color0);
}

.finished-certified, .finished-other {
  padding: 0 20px;
  background-color: var(--color4);
}

.roadmap h1 {
  padding: 40px 20px;
  color: var(--color0);
  text-align: center;
}

.finished-certified > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 100px 30px;
  column-gap: 50px;
  row-gap: 3px;
}

.finished-certified > div:not(:last-child), .finished-other > div {
 border-bottom: 2px solid transparent;
 border-image: linear-gradient(0.25turn, var(--color1), var(--color0), var(--color1));
 border-image-slice: 1;
}

.finished-certified h2 {
  grid-area: 1 / 1 / 2 / 2;
  color: var(--color0);
}

.finished-certified h3 {
  grid-area: 2 / 1 / 3 / 2;
  color: var(--color3);
  font-style: italic;
  padding-bottom: 40px;
}

.finished-certified h4 {
  grid-area: 3 / 1 / 4 / 2;
}

.finished-certified ul {
  grid-area: 4 / 1 / 5 / 2;
  color: var(--color5);
}

.finished-certified img {
  grid-area: 1 / 2 / 5 / 3;
  width: 200px;
  height: auto;
  border: 5px double var(--color3);
}

.finished-other > div {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 100px 30px;
  row-gap: 5px;
}

.finished-other > div > div {
  display: grid;
  grid-template-rows: 3fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.finished-other h3 {
  color: var(--color3);
  font-style: italic;
  padding-bottom: 40px;
}

.finished-other ul {
  color: var(--color5);
}

.finished-other svg {
  filter: invert(90%) sepia(13%) saturate(213%) hue-rotate(188deg) brightness(102%) contrast(96%);
  width: 100px;
  height: auto;
  z-index: 1;
}

.finished-other img {
  width: 100px;
  height: auto;
}

/* PROJECTS ######################################################### */

.projects {
  padding-top: 70px;
  color: var(--color0);
}

.projectsContainer {
  background-color: var(--color4);
}

.projects h1 {
  padding: 40px 20px;
  color: var(--color0);
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, var(--color1), var(--color0), var(--color1));
  border-image-slice: 1;
  padding: 60px 30px;
  align-items: center;
  gap: 2px;
}

.project a {
  color: var(--color0);
  font-size: 25px;
}

.project h3 {
  color: var(--color3);
  font-style: italic;
}

.project img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 7px double var(--color3);
}

.project h2 {
  font-size: 20px;
  padding-bottom: 5px;
}

.techList {
  text-align: center;
  color: var(--color5);
  font-size: 17px;
}

/* RESPONSIVE ####################################################### */

@media only screen and (max-width: 1000px) {
/* SKILLS ----------------------------------------------- */

  .skillsContainer {
    gap: 30px;
    padding: 60px 30px;
  }

  .skill {
    width: 90px;
    height: 110px;
    grid-template-rows: 60px 50px;
  }

  .skill img {
    width: 60px;
    height: 60px;
  }

  .skill p {
    font-size: 14px;
    margin-top: 3px;
  }

/* CONTACT ########################################################## */

  .contact {
    padding: 60px 30px;
  }

  .contact div {
    width: 100px;
    height: 100px;
    padding: 10px 10px;
  }

  .contact a {
    font-size: 18px;
  }

  .contact svg {
    width: 50px;
  }
}

@media only screen and (max-width: 729px) {
/* SOME PROJECTS ---------------------------------------- */

  .someProjectsContainer {
    gap: 15px;
    padding: 40px 15px;
  }
  
  .someProject {
    width: 176px;
    height: 205px;
  }
  
  .someProject img {
    margin-top: 3px;
    width: 170px;
    height: 170px;
  }
  
  .someProject a {
    font-size: 15px;
  }
  
  .projectName {
    padding-top: 6px;
  }

/* SKILLS ----------------------------------------------- */

  .skillsContainer {
    gap: 20px;
    padding: 50px 20px;
  }

  .skill {
    width: 80px;
    height: 100px;
    grid-template-rows: 55px 45px;
  }

  .skill img {
    width: 55px;
    height: 55px;
  }

  .skill p {
    font-size: 13px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 607px) {
/* SOME PROJECTS ---------------------------------------- */
  
  .someProjectsContainer {
    gap: 13px;
    padding: 30px 13px;
  }
  
  .someProject {
    width: 156px;
    height: 185px;
  }
  
  .someProject img {
    width: 150px;
    height: 150px;
  }

/* SKILLS ----------------------------------------------- */

  .skillsContainer {
    gap: 13px;
    padding: 30px 13px;
  }

/* CONTACT ########################################################## */

  .contact {
    justify-content: space-between;
  }

  .contact a {
    font-size: 15px;
  }

  .contact svg {
    width: 45px;
  }
}

@media only screen and (max-width: 579px) {
/* ROADMAP ########################################################## */

  .roadmap h1 {
    background: none;
  }

  .finished-certified > div {
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 0;
  }

  .finished-certified img {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 455px) {
/* CONTACT ########################################################## */

  .contact {
    flex-direction: column;
    padding: 30px 10px;
    justify-content: space-evenly;
    gap: 10px;
  }

  .contact a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 381px) {
/* LAYOUT ########################################################### */

  nav ul {
    flex-wrap: wrap;
    padding: 20px 10px;
    gap: 10px;
  }

  nav ul li {
    font-size: 17px;
  }

/* HOME ############################################################# */
/* PRESENTATION ----------------------------------------- */

  .presentation {
    padding: 120px 15px 70px 15px;
    gap: 15px;
  }

  .presentation img {
    width: 80vw;
    height: 80vw;
    margin: 20px 0 20px 0;
  }

  .presentation h1 {
    font-size: 26px;
  }

  .presentation h2 {
    font-size: 19px;
  }

  .presentation h4 {
    font-size: 18px;
  }

/* SOME PROJECTS ---------------------------------------- */

  .title {
    font-size: 13px;
  } 
  
  .someProjectsContainer {
    gap: 10px;
    padding: 20px 10px;
  }
  
  .someProject {
    width: 146px;
    height: 175px;
  }
  
  .someProject img {
    width: 140px;
    height: 140px;
  }

  .someProject a {
    font-size: 14px;
  }

/* CONTACT ########################################################## */

  .contact a {
    font-size: 17px;
  }

/* PROJECTS ######################################################### */

   .project img {
    width: 80vw;
  }

  .project a {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1000px) {
/* SOME PROJECTS ---------------------------------------- */

  .someProjectsContainer {
    gap: 40px;
    padding: 60px 40px;
  }
  
  .someProject {
    width: 260px;
    height: 305px;
  }
  
  .someProject img {
    width: 250px;
    height: 250px;
  }
  
  .someProject a {
    font-size: 19px;
  }
  
  .projectName {
    padding-top: 13px;
  }

/* CONTACT ########################################################## */

  .contact {
    justify-content: center;
    gap: 50px;
  }

/* ROADMAP ########################################################## */

  .finished-certified > div {
    justify-items: stretch;
  }

/* PROJECTS ######################################################### */

  .projectsContainer {
    padding: 30px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 100px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, var(--color1), var(--color0), var(--color1));
    border-image-slice: 1;
  }

  .project {
    border-image:none;
    display: grid;
    grid-template-rows: 50px 30px 350px 30px 100px;
    justify-items: center;
    align-items: start;
  }
}

@media only screen and (min-width: 1220px) {
/* ROADMAP ########################################################## */

  .finished-certified, .finished-other {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 100px;
    padding: 50px;
  }

  .finished-certified > div {
    grid-template-rows: 80px 30px 55px 80px 320px;
    grid-template-columns: 1fr;
    padding: 50px 20px;
    justify-items: center;
  }

  .finished-certified h2 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
  }
  
  .finished-certified h3 {
    grid-area: 2 / 1 / 3 / 2;
    align-self: self-start;
  }
  
  .finished-certified h4 {
    grid-area: 3 / 1 / 4 / 2;
    align-self: self-end;
  }
  
  .finished-certified ul {
    grid-area: 4 / 1 / 5 / 2;
    align-self: self-start;
  }

  .finished-certified img {
    grid-area: 5 / 1 / 6 / 2;
    place-self: center;
    width: 300px;
    align-self: self-end;
  }

  .finished-certified > div:not(:last-child), .finished-other > div {
    border-bottom: none;
   }

  .finished-other {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, var(--color1), var(--color0), var(--color1));
  border-image-slice: 1;
  }

  .finished-other > div {
    grid-template-rows: 220px 50px 40px 80px;
  }
  
  .finished-other > div > div {
    gap: 25px;
  }

  .finished-other h2 {
    font-size: 25px;
  }
  
  .finished-other h3 {
    align-self: self-start;
    font-size: 20px;
  }

  .finished-other h4 {
    font-size: 19px;
  }
  
  .finished-other ul {
    align-self: self-start;
    font-size: 18px;
  }
  
  .finished-other svg {
    width: 150px;
  }
  
  .finished-other img {
    width: 150px;
  }
}
